body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: black;
  color: #fff;
}

.app {
  text-align: center;
  padding: 20px;
}


